body {
  background-color: #1a1a1a;
  height: 100%;
  width: 98%;
  display: grid;
  place-items: center;
  margin: auto;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}
.app {
  border: 2px solid;
  padding: 20px;
  border-radius: 5px;
  width: 40%;
  margin: auto;
}

.nc-news-title {
  will-change: filter;
  transition: filter 300ms;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 5em;
  letter-spacing: -2px;
  text-transform: uppercase;
}
.nc-news-filter:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.nc-news-filter.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.header {
  border-radius: 5px;
  border: solid red;
  padding: 10px;
  display: flex;
  position: relative;
  top: 0;
  margin-bottom: 2px;
  flex-direction: column;
  background-color: rgb(235, 185, 185);
}

.Nav {
  border-radius: 5px;
  height: auto;
  border: solid rgb(0, 0, 0);
  padding: 5px;
  background-color: grey;
  display: flex;
  flex: top;
}
.nav-button {
  padding: 2px;
  border-radius: 5px;
  border: solid rgb(255, 0, 0);
  color: rgb(0, 0, 0);
  background-color: white;
}

.nav-button:hover {
  color: red;
  background-color: black;
  filter: drop-shadow(0 0 2em red);
}
.nav-button.react:hover {
  color: red;
  background-color: black;
  filter: drop-shadow(0 0 2em red);
}

.article-format {
  border: 2px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: centre;
  gap: 60px;
  margin-top: 10px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.article-box{
  border: 5px solid rgb(241, 197, 2);
  height: 100%;
  width: 90%;
  padding: 20px;
  border-radius: 3px;
  background-color: rgb(224, 194, 111);
}

.loading{
  color: white;
}

img {
  display: flex;
  align-items: center;
  margin-left: 97px;
  width: 75%;
  height: 50%;
  border-radius: 5px;
}

.homepage {
  border: solid black;
  background-color: antiquewhite;
  height: 1100px;
  border-radius: 5px;
  width: 100%;
}

.article {
  border: 2px solid rgb(0, 0, 0);
  height: 100%;
  width: 90%;
  padding: 20px;
  border-radius: 3px;
  background-color: rgb(224, 194, 111);
}

.upvote {
  background-color: green;
}

.downvote {
  background-color: rgb(128, 0, 0);
}

.comment-delete {
  background-color: rgb(128, 0, 0);
}

.comment-post {
  display: flex;
  width: 90%;
  margin-left: 30px;
  flex-direction: column;
  border: #646cff;
}

.comment-submit {
  width: 10%;
  border-radius: 2px;
  margin-top: 10px;
}


.comment-submit:hover {
  color: rgb(230, 190, 116);
  background-color: black;
  filter: drop-shadow(0 0 2em rgb(255, 240, 26));
}
.comment-submit:hover {
  color: rgb(230, 190, 116);
  background-color: black;
  filter: drop-shadow(0 0 2em rgb(255, 240, 26));
}